<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
	




<script src="jquery-1.2.6.min.js"></script>

<script src="flowplayer-3.0.2.min.js"></script>	

<script src="flowplayer.captions.js"></script>	

<script src="jquery.scrollable-0.13.js"></script>



<style>


	/* make elements a little more centered */
	body {
		padding:100px;		
	}
	
	/* these two settings will remove borders from playlist entries */
	a:active {  outline:none; }
	:focus   { -moz-outline-style:none; }
	
	
	/* container has a background image */
a.player {	
	margin-top:40px;
	display:block;
	background:url(/img/player/splash.png) no-repeat;
	width:425px;
	height:298px;
	padding:0 126px 75px 127px;	
	text-align:center;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}

/* splash image */
a.player img {
	margin-top:115px;
	border:0;	
}


	

#cuethumbs {
	height:115px;
	background:#f5fbfb url(/img/global/gradient/h150.png) repeat-x;
	padding:5px;
	border:1px solid #ddd;
	width: 780px;
}

#cuethumbs div.items {
	height:115px;
	width: 700px;
	float:left;
}

#cuethumbs div.items img:hover {
	border:3px solid #000000;
}

#cuethumbs div.items img.active {
	border:3px solid #CCCCCC;
}

#cuethumbs div.items img {
	border:1px solid #000000;
	float:left;
	height:113px;
	cursor:pointer;
	margin-right:7px;
	width:150px;
}

#cuethumbs div.items a:hover {
	background-position:-140px 0;
	color:#000;
}

#cuethumbs div.items a.playing {
	background-position:-280px 0;		
	color:#000;
}

#cuethumbs div.items a.paused {
	background-position:-420px 0;		
	color:#000;
}

#cuethumbs div.items a.progress {
	opacity:0.8;
}



#cuethumbs a.nextPage, #cuethumbs a.prevPage {
	display:block;
	width:18px;
	height:18px;
	background:url(left.png) no-repeat;
	margin:30px 10px;
	cursor:pointer;
	float:left;
}

#cuethumbs a.nextPage:hover, #cuethumbs a.prevPage:hover {
	background-position:0px -18px;		
}

#cuethumbs a.nextPage {
	background-image:url(right.png);	
}
</style>




<script>
$(function() {
	
	// setup player 
	$f("player", "../flowplayer.swf", {
		clip: {
			autostart: true,

		},
				
		log:  {         
			     
				     // other levels are: 'info', 'warning', 'error' which will cause less output 
				     level: 'info' 
				},
				
		plugins: {

			captions: {
					url:'@MAIN_PLAYER_SWF@',
					captionUrl: 'timedtext.xml',
					captionType: 'external',
					//captionTarget: 'content',					
				}
		}
		
	// playlist plugin 
	});
	
	
	
	$f("player").captions("div.items", {}); 


});
</script>


<a  
			 href="http://blip.tv/file/get/KimAronson-TwentySeconds73213.flv"  
			 style="display:block;width:400px;height:300px"  
			 id="player"> 
		</a> 
		
<div id="cuethumbs">
	<a class="prevPage"></a>
	<div class="items">
		<img src="thumbs/frame${time}.jpg"/>
	</div>
	<a class="nextPage"></a>
</div>

<br clear="all" />


