<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- A minimal Flowplayer setup to get you started -->


    <!--
         include flowplayer JavaScript file that does
         Flash embedding and provides the Flowplayer API.
     -->
    <script type="text/javascript" src="jquery-1.2.6.pack.js"></script>
    <script type="text/javascript" src="flowplayer-@FLOWPLAYER_JS_VERSION_INFO@.min.js"></script>

    <!-- some minimal styling, can be removed -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- page title -->
    <title>Minimal Flowplayer setup</title>

</head><body>

<div id="page">

<h1>Clustering and Fallback Flowplayer setup</h1>

<p>View commented source code to get familiar with Flowplayer installation.</p>

<!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
<a
        style="display:block;width:400px;height:300px"
        id="fms">
</a>

<!-- this will install flowplayer inside previous A- tag. -->

<script>
    $f("fms", {src:"@PLAYER_SWF@",bgcolor:'#333333'}, {

        // configure clip to use "rtmp" plugin for providing video data
        clip: {
            provider: 'rtmp',
            urlResolvers: 'bwcheck',
            autoPlay: false,
            start: 0,
            duration: 0,
            accelerated: true,
            bufferLength: 8,
            onBegin: function(index) {
                console.info("onBegin: " + index);
            },
            onStop: function(index) {
                console.info("onStop: " + index);
            },
            onStart: function(clip) {
                console.info("onStart: " + clip.url);
            }
        },
        playlist: [
            "skyandice", "honda_accord"
        ],

        // streaming plugins are configured under the plugins node
        plugins:  {
            // here is our rtpm plugin configuration
            rtmp: {
                url: '../flowplayer.rtmp.swf',
                netConnectionUrl: 'rtmp://cyzy7r959.rtmphost.com/flowplayer',
                objectEncoding: 0

            },
            bwcheck: {
                url: '@MAIN_PLAYER_SWF@',
                serverType: 'fms',
                netConnectionUrl: 'rtmp://cyzy7r959.rtmphost.com/flowplayer',
                // rtmp://69.16.188.164/i5w9b4e5/_definst_
                defaultBitrate: 150,
                enableDynamicSwitching: true,
                bitrates: [
                    150,400,700,1000
                ],
                //{0} is filename, {1} is bitrate, {2} is extension
                urlPattern: '{0}-{1}',


                onConnectFailed: function(host, index) {
                    console.log("onConnectFailed " + host + ", host# " + index);
                },

                onConnect: function(host, index) {
                    console.log("onConnect " + host + ", host# " + index);
                },

                onBwDone: function(url, chosenBitrate, bitrate) {
                    console.info("Bandwidth detected " + bitrate + ", mapped to " + chosenBitrate + ", url is " + url);
                }
		    },
			playlist: [
                "skyandice", "honda_accord"
            ],
			
			// streaming plugins are configured under the plugins node 
			plugins:  {
				// here is our rtpm plugin configuration
				rtmp: {
					 url: '../flowplayer.rtmp.swf',
					 netConnectionUrl: 'rtmp://cyzy7r959.rtmphost.com/flowplayer',
					 objectEncoding: 0
     				 
				},
				bwcheck: {  
		            url: '@MAIN_PLAYER_SWF@',  
		            serverType: 'fms',
		            netConnectionUrl: 'rtmp://cyzy7r959.rtmphost.com/flowplayer',
		            defaultBitrate: 150,
		            enableDynamicSwitching: true,
		            bitrates: [
		            	150,400,700,1000
		            ],
		            //{0} is filename, {1} is bitrate, {2} is extension
		            urlPattern: '{0}-{1}',
                    onStreamSwitch: function(chosenBitrate, streamName, oldStreamName) {
                    	console.info("Stream switched to bitrate: " + chosenBitrate + ", stream name: " + streamName + ", old stream name: " + oldStreamName);
                    },
                    onBwDone: function(url, chosenBitrate, bitrate) {
                        console.info("Bandwidth detected " + bitrate + ", mapped to " + chosenBitrate + ", url is " + url);
                    }
		        },
                controls: { stop: true, playlist: true }
			
			}, 
			log: { level: 'debug', filter: 'org.flowplayer.bwcheck.*, org.flowplayer.cluster.*' }
			
		});
		
		function showBitrates()
		{
			var bitrates = $f('fms').getConfig().plugins.bwcheck.bitrates;
     		var form = "";
			jQuery.each( bitrates, function(index, item){
			
				form += '<label><input type="radio" name="bitrate" value="' + item + '" class="bitrateBtn" />' + item + ' K</label><br>';
			});
     		$('#changeBitrate').append(form);
     		
     
		}
		
		function detect()
		{
			$f().getPlugin("bwcheck").checkBandwidth();
		}
		
		
		
		$(document).ready(function () {
			showBitrates();
			
			$('.bitrateBtn').click(function() {
				$f().getPlugin("bwcheck").setBitrate($(this).val());
			});
		});
		
		</script>
	
		<a href="#" onclick="detect();">Detect Bandwidth</a>
		
		<div id="changeBitrate">
		<b>Change Bitrate:</b><br/>
		</div>
		

</body></html>