<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- A minimal Flowplayer setup to get you started -->
  

	<!-- 
		include flowplayer JavaScript file that does  
		Flash embedding and provides the Flowplayer API.
	-->
	<script type="text/javascript" src="jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="flowplayer-@FLOWPLAYER_JS_VERSION_INFO@.min.js"></script>
	
	<!-- some minimal styling, can be removed -->
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<!-- page title -->
	<title>Captions Plugin with Timed Text</title>

</head><body>

	<div id="page">
		
		<h1>Captions Plugin with Timed Text</h1>
		
		<p></p>

		<!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
		<a  
			 href="http://flowplayer.org/video/honda_accord.flv"  
			 style="display:block;width:400px;height:300px"  
			 id="captions"> 
		</a> 
		
	
		<!-- this will install flowplayer inside previous A- tag. -->

		
		<script>
		$f("captions", {src:"@PLAYER_SWF@",bgcolor:'#333333'}, {
			screen: {
				top:0	
			},
			
			log:  {         
			     
				     // other levels are: 'info', 'warning', 'error' which will cause less output 
				     level: 'debug',
				     filter: 'org.flowplayer.captions.*, org.flowplayer.captions.parsers.*' 
				},
            clip: {
                captionUrl: 'buffalo.srt'
            },
			plugins:  {
            content: {
                url:'../flowplayer.content.swf',
                bottom: 25,
                width: '80%',
                height:40,
                backgroundColor: 'transparent',
//					backgroundGradient: 'none',
                border: 0,
                style: {
                    'body': {
                    fontSize: '14',
                    fontFamily: 'Arial',
                    textAlign: 'center',
                            color: '#ffffff'
                            //backgroundColor:'#000000'
                    }
                }
                , display: 'none'
            },

            captions: {
                url:'@MAIN_PLAYER_SWF@',
                captionType: 'external',
                captionTarget: 'content'
            }
			}
		
		
		});
		
		//}}}
		</script>

		
		
	</div>
	
	
</body></html>