<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  

<!-- 
	Flowplayer website, forums & jQuery Tools by Tero Piirainen 
	
	Prefer web standards over Flash. Video is the only exception.	
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

		<title>Flowplayer - Flash Video Player for the Web</title>
		<meta name="Description" content="Embed video streams to your website. Superior alternative to YouTube. Open Sourced under the GPL license. No other software makes this smoother." />	
		<meta name="Keywords" content="video player for the web, flash video player,web media player,free video player,free flv player,mp4 flash player,mp4 player,open source video player,flash 9 video,flash video,web video,flv player,flv video" />		
	

	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="Distribution" content="Global" />
	<meta name="Author" content="Tero Piirainen" />
	<meta name="Robots" content="index,follow" /> 
 
	<link rel="stylesheet" type="text/css" href="http://static.flowplayer.org/css/global-0.25.css" />
	<link rel="stylesheet" type="text/css" href="bwcheck.css" />

	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<script src="http://static.flowplayer.org/js/flowplayer-3.2.2.min.js"></script>
	<script src="http://static.flowplayer.org/js/flowplayer.playlist-3.0.8.min.js"></script> 
	<script type="text/javascript" src="flowplayer.bwcheck-3.2.js"></script>
	
	<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.3/full/jquery.tools.min.js"></script>
	<script src="http://static.flowplayer.org/js/jquery.mousewheel.js"></script>
	<link rel="stylesheet" type="text/css" href="http://amazon.flowplayer.org/css/playlist.css"/>
	
	
	
	
	
	<style type="text/css">
		div.overlay {
		width:800px; 
		height:432px;

		}
		
		/* these two settings will remove borders from playlist entries */
		a:active {  outline:none; }
	 	:focus   { -moz-outline-style:none; }
	</style>
	

	<!--[if lt IE 7]>
		<style type="text/css">
			@import "http://static.flowplayer.org/css/ie6.css?v=0.2";
		</style>
	<![endif]-->
	
	<!--[if lt IE 8]>
		<style type="text/css">
			html { overflow-x:hidden; }
			#content ol, #content ul  {margin-left: 50px; }
		</style>
	<![endif]-->	

</head>

<body id="plugins_youtube">


	<div id="wrap">			 
		
<script type="text/javascript">
$(function() {		
		
	// positions for each overlay

		
	// setup triggers
	$("button[rel]").each(function(i) {
		$(this).overlay({

			// common configuration for each overlay
			oneInstance: false, 
			closeOnClick: false, 
			 

			// use apple effect
			effect: 'apple'
			
		});			
	});
	
});
// common methods and configs

function showRelatedList(gdata, container)
{
	
	var relatedVideos = gdata.relatedVideos;
	

	var content = '<br/><b>Related Videos:</b><br/>';
	content += '<a class="go up"></a><div class="playlist"><div class="clips low">';
	
	
	jQuery.each( relatedVideos, function(index, item){
		content += '<a href="'+ item.url +'" '+ (index==0 ? 'class="first"' : "") +'>';
		content += item.title + "<br/>";
		content += "<em>" + Math.round(item.duration / 60) + " min</em></a>";
	});
	
	content += '</div></div><a class="go down"></a>';
	
	$(container).html(content);
	
	$("div.playlist").scrollable({
		items:'div.clips',
		vertical:true,
		next:'a.down',
		prev:'a.up'
	});
	
	$f().playlist("div.clips");
}



var basicPlaylist =  [
				   {
				   		url: 'api:Q_6qRyYn-68'
				   }
        		];
        		
var relatedPlaylist =  [
				   {
				   		url: 'api:Q_6qRyYn-68'
				   }
        		];
        		
var manualPlaylist =  [
			       {
						url: 'api:phnDOQp354A'					
				   },
				   {
				   		url: 'api:Q_6qRyYn-68'
				   }
        		];
        		
var bwPlaylist =  [
			       {
						url: 'api:phnDOQp354A'					
				   }
        		];


var loggingConfig = { level: 'debug', filter: 'org.flowplayer.view.Screen, org.flowplayer.controller.*,org.flowplayer.bwcheck.*, org.flowplayer.cluster.*,org.flowplayer.rtmp.*, org.flowplayer.youtube.*' };


</script>
		
		<div id="content"> 
		
		






<h1 style="background-image:url(http://www.flowplayer.org/img/title/streaminge.png)">
	<strong>Youtube</strong> 
	<em>Youtube Videos in Flowplayer</em>
</h1>



<h2>Introduction</h2>

<p>
    The Youtube Flowplayer plugin uses the Youtube AS3 API to play Youtube videos directly within Flowplayer.   
</p>
<p>
	The plugin obtains a list of quality levels to be used for a bitrates config array to be used with the bwcheck plugin. 
</p>

<p>
	The plugin also obtains a list of related videos from the API feed and configures a related config array to be used with the related videos plugin. 
</p>


<h2>Features</h2>

<ul>
	<li>
		 Support for Bandwidth Checking and Related Videos features.
	</li>
	<li>
		 Provides an event for obtaining detailed data for the video to be used for customised features via the javascript API.
	</li>
	<li>
		 Full control of the player controls including fullscreen.
	</li>
</ul>

<!-- Paypal Section -->


<h2>Examples</h2>

<a name="basic"></a>
<h2><em>Basic</em> Example</h2>

<p>
    This example demonstrates a basic setup to play the video. 
</p>



<div style="width:900px;">
   

<!-- player container-->


<a 
	href="http://video.flowplayer.org/skyandice.flv" 
	style="display:block;width:640px;height:385px;float:left;" 
	id="basic">
	
	<!-- splash image inside the container -->
	<img src="http://www.flowplayer.org/img/home/flow_eye.jpg" alt="Search engine friendly content" />
	
</a>


<!-- Flowplayer installation and configuration -->
<script language="JavaScript">

$f("basic", "@PLAYER_SWF@", {
	playlist: basicPlaylist,
	// configure the required plugin
	plugins:  {
		controls: { autoHide: true },
		youtube: {
			url:'@MAIN_PLAYER_SWF@'
		}
	},
	clip: {
		provider: 'youtube',
		urlResolvers: 'youtube'
	},
	log: loggingConfig
	
});
</script>	





</div>

<br clear="all" />


<div class="box code">
<pre><code class="javascript">

var playlist =  [
			       {
						url: 'api:PmGiCFPUSM4'					
				   }
        		];
        		
$f("basic", "@PLAYER_SWF@", {
	playlist: playlist,
	// configure the required plugin
	plugins:  {
		controls: { autoHide: true },
		youtube: {
			url:'@MAIN_PLAYER_SWF@'
		}
	},
	clip: {
		provider: 'youtube',
		urlResolvers: 'youtube'
	},
	log: loggingConfig
	
});
</code></pre>
</div>




<h2>Configuration</h2>


<p>
    Here is a list of the configuration options:
</p>
<table class="listing">
	<thead>
		<tr>
			<th nowrap>property / datatype</th>
			<th>default</th>
			<th>description</th>
		</tr>
	</thead>

    <tr>
        <td class="code">apiPlayerURL <div class="type">string</div></td>
        <td class="code default">http://www.youtube.com/apiplayer?version=3</td>
        <td class="description">
            The url to the Youtube chromeless API. 
        </td>
    </tr>
    <tr>
        <td class="code">gdataApiURL <div class="type">string</div></td>
        <td class="code default">http://gdata.youtube.com/feeds/api/videos/</td>
        <td class="description">
            The url to the Youtube video Gdata feed. 
        </td>
    </tr>
    <tr>
        <td class="code">gdataApiVersion <div class="type">string</div></td>
        <td class="code default">2</td>
        <td class="description">
				The version number for the Gdata feed. 
        </td>
    </tr>
    <tr>
        <td class="code">gdataApiFormat <div class="type">string</div></td>
        <td class="code default">5</td>
        <td class="description">
        	The format number for the  Gdata feed.
        </td>
    </tr>
    <tr>
        <td class="code">defaultQuality <div class="type">string</div></td>
        <td class="code default">default</td>
        <td class="description">
            The default quality level (default,medium,large,hd720).
        </td>
    </tr>
    <tr>
        <td class="code">enableGdata <div class="type">boolean</div></td>
        <td class="code default">false</td>
        <td class="description">
			When enabled the Gdata feed will be collected and video information will be returned via the onApiData event. This will collect information like related videos, category, tags, title, description etc.
        </td>
    </tr>
</table>

<a name="related"></a>
<h2><em>Related Videos Playlist</em> Example</h2>

<p>
    This example demonstrates using the gdata api callback method to obtain the related videos and build a playlist.  
</p>



<div style="width:900px;">
   

<!-- player container-->


<a 
	href="http://video.flowplayer.org/skyandice.flv" 
	style="display:block;width:640px;height:385px;float:left;" 
	id="related">
	
	<!-- splash image inside the container -->
	<img src="http://www.flowplayer.org/img/home/flow_eye.jpg" alt="Search engine friendly content" />
	
</a>

<div id="playlistContainer" style="float:left;width:190px;margin-left:50px; margin-top:0px;"></div>

<!-- Flowplayer installation and configuration -->
<script language="JavaScript">

$f("related", "@PLAYER_SWF@", {
	playlist: relatedPlaylist,
	// configure the required plugin
	plugins:  {
		
		controls: { autoHide: true },
		youtube: {
					url:'@MAIN_PLAYER_SWF@',
					enableGdata: true,
					
					onApiData: function(gdata) {
						showRelatedList(gdata, "#playlistContainer");
				}		
		}
	},
	clip: {
		provider: 'youtube',
		urlResolvers: 'youtube',
		onBegin: function (clip) {
				
		}
	},
	log: loggingConfig
	
});
</script>	

</div>

<br clear="all" />

<div class="box code">
<pre><code class="javascript">
function showRelatedList(gdata, container)
{
	
	var relatedVideos = gdata.relatedVideos;
	

	var content = '<br/><b>Related Videos:</b><br/>';
	content += '<a class="go up"></a><div class="playlist"><div class="clips low">';
	
	
	jQuery.each( relatedVideos, function(index, item){
		content += '<a href="'+ item.url +'" '+ (index==0 ? 'class="first"' : "") +'>';
		content += item.title + "<br/>";
		content += "<em>" + Math.round(item.duration / 60) + " min</em></a>";
	});
	
	content += '</div></div><a class="go down"></a>';
	

	$(container).html(content);
	
	$("div.playlist").scrollable({
		items:'div.clips',
		vertical:true,
		next:'a.down',
		prev:'a.up'
	});
	
	$f().playlist("div.clips");
}


var playlist =  [
			       {
						url: 'api:PmGiCFPUSM4'					
				   }
        		];
        		
$f("related", "@PLAYER_SWF@", {
	playlist: relatedPlaylist,
	// configure the required plugin
	plugins:  {
		
		controls: { autoHide: true },
		youtube: {
					url:'@MAIN_PLAYER_SWF@',
					enableGdata: true,
					
					onApiData: function(gdata) {	
						showRelatedList(gdata, "#playlistContainer");
					}
					
					
		}

		
	},
	clip: {
		provider: 'youtube',
		urlResolvers: 'youtube',
		onBegin: function (clip) {
				
		}
	},
	log: loggingConfig
	
});
</code></pre>
</div>


<a name="playlist"></a>
<h2><em>Youtube Video Playlist</em> Example</h2>


<p>
    This example demonstrates using the flowplayer playlist plugin with youtube videos.   
</p>



<div style="width:900px;">
   

<!-- player container-->


<a 
	style="display:block;width:640px;height:385px;float:left;" 
	id="playlist">
	
	<!-- splash image inside the container -->
	<img src="http://www.flowplayer.org/img/home/flow_eye.jpg" alt="Search engine friendly content" />
	
</a>



<!-- Flowplayer installation and configuration -->
<script language="JavaScript">

$(function() {

$("div.playlist").scrollable({
		items:'div.clips',
		vertical:true,
		next:'a.down',
		prev:'a.up'
});

$f("playlist", "@PLAYER_SWF@", {
	// configure the required plugin
	plugins:  {
		
		controls: { autoHide: true },
		youtube: {
				url:'@MAIN_PLAYER_SWF@',
					
		}
	},
	clip: {
		provider: 'youtube',
		urlResolvers: 'youtube',
		onBegin: function (clip) {
				
		}
	},
	log: loggingConfig
	
}).playlist("#manualPlaylist:first", {loop:true});

});
</script>	

<div id="playlistManualContainer" style="float:left;width:190px;margin-left:50px; margin-top:0px;">
<br/><b>Youtube Videos Playlist:</b><br/>
<a class="go up"></a>
<div class="playlist">
<div class="clips low" id="manualPlaylist">
<a href="api:E-QV4n-z-9k" class="first">Move D - Eastman<br/><em>7 min</em></a>
<a href="api:FhZ_kTZoUlg" >Move D - Cymbelin (WARP) 1996<br/><em>7 min</em></a>
<a href="api:g6ER0ESbJn0" >Move D - Heidelberg Gals<br/><em>10 min</em></a>
<a href="api:BxvBk_dSrKQ" >Move D - Jus House<br/><em>5 min</em></a>
<a href="api:gTa_aIeg2gE" >Move D - October in Moscow<br/><em>7 min</em></a>
<a href="api:iXo-_TzM0A4" >Surgeon - Electric Chicken<br/><em>5 min</em></a>
<a href="api:myPwJIw45s4" >Move-D - Drøne<br/><em>10 min</em></a>
<a href="api:-YKUX8fo6rY" >Air Liquide - Psy 9<br/><em>11 min</em></a>
<a href="api:AR2UPJ-JCRk" >sctv 03 - 09 move d: 77 sunset strip<br/><em>7 min</em></a>
<a href="api:qZRZzyamH54" >Move D - Amazing Discoveries<br/><em>8 min</em></a>
<a href="api:dlKL___rBAM" >Night Music: "Soft Winds/Lux Aurumque"<br/><em>8 min</em></a>
<a href="api:VtsUqOdsZuY" >Nuron - Mirage<br/><em>6 min</em></a>
<a href="api:wQucHFex91E" >Bergheim 34 ram move d - d man brucken 7 remix (Random Access Memory)<br/><em>6 min</em></a>
<a href="api:ifhcWeXIOZs" >Grace Jones - Walking in the Rain<br/><em>4 min</em></a>
<a href="api:NGS--kKQXH4" >Mustt Mustt-Nusrat Fateh Ali Khan<br/><em>4 min</em></a>
<a href="api:dC8YKJUBk0c" >space night earthviews 4 Part2<br/><em>10 min</em></a>
<a href="api:yXj0dF7LAyE" >Imogen Heap - Canvas<br/><em>5 min</em></a>
<a href="api:XXZbo_0LIdQ" >SPACE NIGHT - earthviews IV (part 3) move d. - amazing discoveries<br/><em>8 min</em></a>
<a href="api:yeultXx_FNE" >Beyond The Machine : Move D<br/><em>5 min</em></a><a href="api:_LjnVIilTb0" >[- MINIMAL -] Kunststoff - Unleashed<br/><em>10 min</em></a>
<a href="api:IoEK_E3z_Sc" >"eu sei que vou te amar" -Steinar Raknes - "Tangos, ballads & more"<br/><em>2 min</em></a>
<a href="api:TNi99utfX-w" >Sensorama - Echtzeit<br/><em>6 min</em></a>
<a href="api:WWg2zFGjLl8" >Move D - Like I was King (Black label mix) [Compost Black label]<br/><em>6 min</em></a>
<a href="api:YmT75-CJhdA" >Balil - Parasight<br/><em>8 min</em></a>
<a href="api:UYUjbVPrEDI" >Massiv feat. Beirut - Weil wir der Wahrheit nicht ins Auge sehen - Kopf oder Zahl Soundtrack (OST)<br/><em>3 min</em></a>
</div>
</div>
<a class="go down"></a>
</div>



</div>

<br clear="all" />


<div class="box code">
<pre><code class="javascript">
$(function() {

$("div.playlist").scrollable({
		items:'div.clips',
		vertical:true,
		next:'a.down',
		prev:'a.up'
});

$f("playlist", "@PLAYER_SWF@", {
	// configure the required plugin
	plugins:  {
		
		controls: { autoHide: true },
		youtube: {
				url:'@MAIN_PLAYER_SWF@',
					
		}
	},
	clip: {
		provider: 'youtube',
		urlResolvers: 'youtube',
		onBegin: function (clip) {
				
		}
	},
	log: loggingConfig
	
}).playlist("#manualPlaylist:first", {loop:true});

});

<div id="playlistManualContainer" style="float:left;width:190px;margin-left:50px; margin-top:0px;">
<br/><b>Youtube Videos Playlist:</b><br/>
<a class="go up"></a>
<div class="playlist">
<div class="clips low" id="manualPlaylist">
<a href="api:E-QV4n-z-9k" class="first">Move D - Eastman<br/><em>7 min</em></a>
<a href="api:FhZ_kTZoUlg" >Move D - Cymbelin (WARP) 1996<br/><em>7 min</em></a>
<a href="api:g6ER0ESbJn0" >Move D - Heidelberg Gals<br/><em>10 min</em></a>
<a href="api:BxvBk_dSrKQ" >Move D - Jus House<br/><em>5 min</em></a>
<a href="api:gTa_aIeg2gE" >Move D - October in Moscow<br/><em>7 min</em></a>
<a href="api:iXo-_TzM0A4" >Surgeon - Electric Chicken<br/><em>5 min</em></a>
<a href="api:myPwJIw45s4" >Move-D - Drøne<br/><em>10 min</em></a>
<a href="api:-YKUX8fo6rY" >Air Liquide - Psy 9<br/><em>11 min</em></a>
<a href="api:AR2UPJ-JCRk" >sctv 03 - 09 move d: 77 sunset strip<br/><em>7 min</em></a>
<a href="api:qZRZzyamH54" >Move D - Amazing Discoveries<br/><em>8 min</em></a>
<a href="api:dlKL___rBAM" >Night Music: "Soft Winds/Lux Aurumque"<br/><em>8 min</em></a>
<a href="api:VtsUqOdsZuY" >Nuron - Mirage<br/><em>6 min</em></a>
<a href="api:wQucHFex91E" >Bergheim 34 ram move d - d man brucken 7 remix (Random Access Memory)<br/><em>6 min</em></a>
<a href="api:ifhcWeXIOZs" >Grace Jones - Walking in the Rain<br/><em>4 min</em></a>
<a href="api:NGS--kKQXH4" >Mustt Mustt-Nusrat Fateh Ali Khan<br/><em>4 min</em></a>
<a href="api:dC8YKJUBk0c" >space night earthviews 4 Part2<br/><em>10 min</em></a>
<a href="api:yXj0dF7LAyE" >Imogen Heap - Canvas<br/><em>5 min</em></a>
<a href="api:XXZbo_0LIdQ" >SPACE NIGHT - earthviews IV (part 3) move d. - amazing discoveries<br/><em>8 min</em></a>
<a href="api:yeultXx_FNE" >Beyond The Machine : Move D<br/><em>5 min</em></a><a href="api:_LjnVIilTb0" >[- MINIMAL -] Kunststoff - Unleashed<br/><em>10 min</em></a>
<a href="api:IoEK_E3z_Sc" >"eu sei que vou te amar" -Steinar Raknes - "Tangos, ballads & more"<br/><em>2 min</em></a>
<a href="api:TNi99utfX-w" >Sensorama - Echtzeit<br/><em>6 min</em></a>
<a href="api:WWg2zFGjLl8" >Move D - Like I was King (Black label mix) [Compost Black label]<br/><em>6 min</em></a>
<a href="api:YmT75-CJhdA" >Balil - Parasight<br/><em>8 min</em></a>
<a href="api:UYUjbVPrEDI" >Massiv feat. Beirut - Weil wir der Wahrheit nicht ins Auge sehen - Kopf oder Zahl Soundtrack (OST)<br/><em>3 min</em></a>
</div>
</div>
<a class="go down"></a>
</div>
</code></pre>
</div>



<a name="manualVideoPlaylist"></a>
<h2><em>Youtube Video Manual Playlist</em> Example</h2>


<p>
    This example demonstrates using the flowplayer playlist config with youtube videos.   
</p>



<div style="width:900px;">
   

<!-- player container-->


<a 
	style="display:block;width:640px;height:385px;float:left;" 
	id="manualVideoPlaylist">
	
	<!-- splash image inside the container -->
	<img src="http://www.flowplayer.org/img/home/flow_eye.jpg" alt="Search engine friendly content" />
	
</a>



<!-- Flowplayer installation and configuration -->
<script language="JavaScript">

$f("manualVideoPlaylist", "@PLAYER_SWF@", {
	// configure the required plugin
	playlist: manualPlaylist,
	plugins:  {
		
		controls: { autoHide: true },
		youtube: {
				url:'@MAIN_PLAYER_SWF@',
					
		}
	},
	clip: {
		provider: 'youtube',
		urlResolvers: 'youtube',
		onBegin: function (clip) {
				
		}
	},
	log: loggingConfig
	
});


</script>	



</div>

<br clear="all" />


<div class="box code">
<pre><code class="javascript">
$(function() {



$f("manualPlaylist", "@PLAYER_SWF@", {
	// configure the required plugin
	playlist: [
	
				{
					url: 'api:phnDOQp354A'					
				},
				{
					url: 'api:FhZ_kTZoUlg'
				}
	],
	plugins:  {
		
		controls: { autoHide: true },
		youtube: {
				url:'@MAIN_PLAYER_SWF@',
					
		}
	},
	clip: {
		provider: 'youtube',
		urlResolvers: 'youtube',
		onBegin: function (clip) {
				
		}
	},
	log: loggingConfig
	
});

});



</code></pre>
</div>


<a name="bwcheck"></a>
<h2><em>Youtube with Bandwidth Check</em> Example</h2>

<p>
    This example demonstrates a basic setup to play the video. 
</p>



<div style="width:900px;">
   

<!-- player container-->


<a 
	href="http://video.flowplayer.org/skyandice.flv" 
	style="display:block;width:640px;height:385px;float:left;" 
	id="bwcheck">
	
	<!-- splash image inside the container -->
	<img src="http://www.flowplayer.org/img/home/flow_eye.jpg" alt="Search engine friendly content" />
	
</a>



<!-- Flowplayer installation and configuration -->
<script language="JavaScript">

$f("bwcheck", "@PLAYER_SWF@", {
	playlist: bwPlaylist,
	// configure the required plugin
	plugins:  {
		
		controls: { autoHide: true },
		youtube: {
			url:'@MAIN_PLAYER_SWF@',
			enableGdata: false,
			bitratesOnStart: true,
		},
		content: {
			url: '../flowplayer.content.swf',
			top: 0,
			left: 0,
			width: 250 
		},
		bwcheck: {  
			url: '../flowplayer.bwcheck.swf',   
			netConnectionUrl: 'http://releases.flowplayer.org/swf/flowplayer-3.1.5.swf',
			bitrateProfileName: 'YoutubeBitrateProfile',
			streamSelectionStrategy: 'resizable',
			maxContainerWidth: 854,
			rememberBitrate: true,
			onStreamSwitch: function(mappedBitrate, streamName, oldStreamName) {
				var content = $f().getPlugin('content');
				
				/*$("#bwcheck")
							.width(parseInt(mappedBitrate.width))
							.height(parseInt(mappedBitrate.height));	*/
							
				var info = "Chosen bitrate is: " + mappedBitrate.bitrate + "<br /> Video file served: " + streamName + "<br /> Old Video file served: " + oldStreamName;
				content.setHtml(info);
			},
			// this method is called when the bandwidth check is done
			onBwDone: function bwDoneInfo(mappedBitrate, detectedBitrate) {
				var content = $f().getPlugin('content');
				
				/*$("#bwcheck")
							.width(parseInt(mappedBitrate.width))
							.height(parseInt(mappedBitrate.height));*/
							
				var info = "Your speed is: " + detectedBitrate + "<br /> Your chosen bitrate: " + mappedBitrate.bitrate + "<br /> Video file served: " + mappedBitrate.url;
				content.setHtml(info);
			}
		}

		
	},
	clip: {
		provider: 'youtube',
		urlResolvers: ['youtube','bwcheck'],
		onBegin: function (clip) {
				
		}
	},
	log: loggingConfig
	
}).bwcheck('#javascriptPlugin',{seperator: " | "});
</script>	

</div>


<div style="display:none;">
<b>Choose Video Bitrate:</b> <br/>		
<div id="javascriptPlugin" style="display:none;">
	<a href="{bitrate}">{label}</a>
</div>
</div>



<br clear="all" />


<div class="box code">
<pre><code class="javascript">
$f("bwcheck", "@PLAYER_SWF@", {
	playlist: bwPlaylist,
	// configure the required plugin
	plugins:  {
		
		controls: { autoHide: true },
		youtube: {
			url:'@MAIN_PLAYER_SWF@',
			enableGdata: false,
			bitratesOnStart: true,
		},
		content: {
			url: '../flowplayer.content.swf',
			top: 0,
			left: 0,
			width: 250 
		},
		bwcheck: {  
			url: '../flowplayer.bwcheck.swf',   
			netConnectionUrl: 'http://releases.flowplayer.org/swf/flowplayer-3.1.5.swf',
			bitrateProfileName: 'YoutubeBitrateProfile',
			streamSelectionStrategy: 'resizable',
			maxContainerWidth: 854,
		    rememberBitrate: true,
			onStreamSwitch: function(mappedBitrate, streamName, oldStreamName) {
				var content = $f().getPlugin('content');
				
				$("#bwcheck")
							.width(parseInt(mappedBitrate.width))
							.height(parseInt(mappedBitrate.height));	
							
				var info = "Chosen bitrate is: " + mappedBitrate.bitrate + "<br /> Video file served: " + streamName + "<br /> Old Video file served: " + oldStreamName;
				content.setHtml(info);
			},
			// this method is called when the bandwidth check is done
			onBwDone: function bwDoneInfo(mappedBitrate, detectedBitrate) {
				var content = $f().getPlugin('content');
				
				$("#bwcheck")
							.width(parseInt(mappedBitrate.width))
							.height(parseInt(mappedBitrate.height));
							
				var info = "Your speed is: " + detectedBitrate + "<br /> Your chosen bitrate: " + mappedBitrate.bitrate + "<br /> Video file served: " + mappedBitrate.url;
				content.setHtml(info);
			}
		}

		
	},
	clip: {
		provider: 'youtube',
		urlResolvers: ['youtube','bwcheck'],
		onBegin: function (clip) {
				
		}
	},
	log: loggingConfig
	
});
</code></pre>
</div>




<h3>Events</h3>

<table class="listing">
	<thead>
		<tr>
			<th nowrap>Event</th>
			<th style="width:450px">When does it fire?</th>
		</tr>
	</thead>

    <tr>
        <td class="code"><em>onApiData()</em></td>
        <td class="description">
				Fires when the gdata feed information is collected when the enableGdata config is enabled. The callback is fed with the following arguments:

				<ul>
					<li><samp>gdata</samp> the gdata object with information of the video. </li>
				</ul>
        </td>
    </tr>
</table>

<h3>Gdata Object</h3>

<table class="listing">
	<thead>
		<tr>
			<th nowrap>Property</th>
			<th style="width:450px">Description</th>
		</tr>
	</thead>
	<tr>
        <td class="code"><em>author</em></td>
        <td class="description">
				The author object with the following properties:

				<ul>
					<li><samp>name</samp> the author username. </li>
					<li><samp>uri</samp> the uri to the author gdata feed. </li>
				</ul>
        </td>
    </tr>
    <tr>
        <td class="code"><em>title</em></td>
        <td class="description">
				The video title.
        </td>
    </tr>
    <tr>
        <td class="code"><em>category</em></td>
        <td class="description">
				The video category.
        </td>
    </tr>
    <tr>
        <td class="code"><em>content</em></td>
        <td class="description">
				The video content / description.
        </td>
    </tr>
    <tr>
        <td class="code"><em>defaultThumbnail</em></td>
        <td class="description">
				The default video thumbnail.
        </td>
    </tr>
    <tr>
        <td class="code"><em>duration</em></td>
        <td class="description">
				The duration of the video in seconds.
        </td>
    </tr>
    <tr>
        <td class="code"><em>relatedVideos</em></td>
        <td class="description">
				An array of related video objects also returned in the clip.related property.
        </td>
    </tr>
    <tr>
        <td class="code"><em>bitrates</em></td>
        <td class="description">
				An array of video bitrate quality selections also returned in the clip.bitrates property to be used in conjunction with the bandwidth check plugin.
        </td>
    </tr>
    <tr>
        <td class="code"><em>statistics</em></td>
        <td class="description">
				The statistics object with the following properties:

				<ul>
					<li><samp>favoriteCount</samp> the count of favorites added by users. </li>
					<li><samp>viewCount</samp> the view count. </li>
				</ul>
        </td>
    </tr>
    <tr>
        <td class="code"><em>tags</em></td>
        <td class="description">
				A numbered array of tags.
        </td>
    </tr>
    <tr>
        <td class="code"><em>thumbnails</em></td>
        <td class="description">
				An array of thumbnail objects with the following properties:
				
				<ul>
					<li><samp>height</samp> the thumbnail height. </li>
					<li><samp>width</samp> the thumbnail width. </li>
					<li><samp>time</samp> the time in the video of the thumbnail still. </li>
					<li><samp>url</samp> the thumbnail url. </li>
				</ul>
        </td>
    </tr>
</table>

<h3>Bitrates</h3>

<p>The bitrates array is added to the gdata bitrates property aswell as the clip.bitrates property. 
The bitrates property is to be used in conjuncton with the bandwidth check plugin for providing bitrate selections. 
</p>

<table class="listing">
	<thead>
		<tr>
			<th nowrap>Property</th>
			<th style="width:450px">Description</th>
		</tr>
	</thead>
	<tr>
        <td class="code"><em>bitrate</em></td>
        <td class="description">
				The video bitrate.
        </td>
    </tr>
    <tr>
        <td class="code"><em>format</em></td>
        <td class="description">
				The Youtube video quality level.
        </td>
    </tr>
    <tr>
        <td class="code"><em>height</em></td>
        <td class="description">
				The video height.
        </td>
    </tr>
    <tr>
        <td class="code"><em>width</em></td>
        <td class="description">
				The video width.
        </td>
    </tr>
    <tr>
        <td class="code"><em>label</em></td>
        <td class="description">
				The label of the bitrate option provided by a static map of bitrate / quality  levels.
        </td>
    </tr>
    <tr>
        <td class="code"><em>type</em></td>
        <td class="description">
				The video type.
        </td>
    </tr>
    <tr>
        <td class="code"><em>url</em></td>
        <td class="description">
				The video url.
        </td>
    </tr>
</table>


<h3>Related Videos Object</h3>

<p>The related videos object is added to the gdata object aswell as the clip.related property. 
This can be useful for providing a playlist of related videos or used in conjuction with the related videos plugin (TBA). 
</p>

<table class="listing">
	<thead>
		<tr>
			<th nowrap>Property</th>
			<th style="width:450px">Description</th>
		</tr>
	</thead>
	<tr>
        <td class="code"><em>url</em></td>
        <td class="description">
				The video url ie api:youtubeid.
        </td>
    </tr>
	<tr>
        <td class="code"><em>author</em></td>
        <td class="description">
				The author object with the following properties:

				<ul>
					<li><samp>name</samp> the author username. </li>
					<li><samp>uri</samp> the uri to the author gdata feed. </li>
				</ul>
        </td>
    </tr>
    <tr>
        <td class="code"><em>title</em></td>
        <td class="description">
				The video title.
        </td>
    </tr>
    <tr>
        <td class="code"><em>category</em></td>
        <td class="description">
				The video category.
        </td>
    </tr>
    <tr>
        <td class="code"><em>content</em></td>
        <td class="description">
				The video content / description.
        </td>
    </tr>
    <tr>
        <td class="code"><em>defaultThumbnail</em></td>
        <td class="description">
				The default video thumbnail.
        </td>
    </tr>
    <tr>
        <td class="code"><em>duration</em></td>
        <td class="description">
				The duration of the video in seconds.
        </td>
    </tr>
    <tr>
        <td class="code"><em>statistics</em></td>
        <td class="description">
				The statistics object with the following properties:

				<ul>
					<li><samp>favoriteCount</samp> the count of favorites added by users. </li>
					<li><samp>viewCount</samp> the view count. </li>
				</ul>
        </td>
    </tr>
    <tr>
        <td class="code"><em>tags</em></td>
        <td class="description">
				A numbered array of tags.
        </td>
    </tr>
    <tr>
        <td class="code"><em>thumbnails</em></td>
        <td class="description">
				An array of thumbnail objects with the following properties:
				
				<ul>
					<li><samp>height</samp> the thumbnail height. </li>
					<li><samp>width</samp> the thumbnail width. </li>
					<li><samp>time</samp> the time in the video of the thumbnail still. </li>
					<li><samp>url</samp> the thumbnail url. </li>
				</ul>
        </td>
    </tr>
    <tr>
        <td class="code"><em>ratings</em></td>
        <td class="description">
				The ratings object with the following properties:

				<ul>
					<li><samp>average</samp> the average ratings. </li>
					<li><samp>max</samp> the max ratings. </li>
					<li><samp>min</samp> the min ratings. </li>
					<li><samp>numRaters</samp> the number of raters. </li>
				</ul>
        </td>
    </tr>
</table>

</div>

		
	</div>
</body>
</html>