<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- A minimal Flowplayer setup to get you started -->
  

	<!-- 
		include flowplayer JavaScript file that does  
		Flash embedding and provides the Flowplayer API.
	-->
	<script type="text/javascript" src="jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="flowplayer-@FLOWPLAYER_JS_VERSION_INFO@.min.js"></script>
	
	<!-- some minimal styling, can be removed -->
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<!-- page title -->
	<title>Youtube</title>

</head><body>

	<div id="page">
		
		<h1>Youtube</h1>
		
		<p></p>

		<!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
		<a  
			 href=""  
			 style="display:block;width:854px;height:480px"  
			 id="youtube"> 
		</a> 
		
	
		<!-- this will install flowplayer inside previous A- tag. -->

		
		<script>
		$f("youtube", {src:"@PLAYER_SWF@",bgcolor:'#000000'}, {

			playlist: [
	
				// 1:st clip
				{
					url: 'api:PmGiCFPUSM4',
					
					
				}
			], 
			clip: {
				provider: 'youtube',
				urlResolvers: 'youtube',
				//autoPlay: false,
				autoBuffering: true,
				//accelerated: true, 
				onStart: function(clip)  {	
					//$("#youtube").width(320).height(240);
				}
			}, 
			
			log:  {         
			     
				     // other levels are: 'info', 'warning', 'error' which will cause less output 
				     level: 'debug',
				     filter: 'org.flowplayer.youtube.*,  org.flowplayer.controller.*, org.flowplayer.layout.Dimensions' 
				},
			plugins:  {
				controls: { autoHide: true },
				youtube: {
					url:'@MAIN_PLAYER_SWF@',
					enableGdata: true,
					onApiData: function(gdata) {	
						console.log(gdata);			
						//console.log($f().getPlugin('youtube').gdata);
					}
				}
			},
		
		
		});
		
	
		//}}}
		</script>
		
		
	</div>
	
	
</body></html>